.width-responsive {
    width: 495px;
    height: 273px;
}

.img-services {
    width: 100%;
}

.text-light-blue {
    color:#7381a3;
}

.bg-light-gray {
    padding: 2rem 0;
    background:#f5f5f5;
}

@media (max-width: 991.98px) {
    .width-responsive {
        width: 50%;
        height: auto !important;
    }
    
    .img-services {
        width: 50%;
    }
}