.footer-container {
  height: 150px;
  overflow: hidden;
}

.footer-graphics {
  height: 100%;
  width: 100%;
}

.footer-graphics-path {
  stroke: none;
  fill: #fff;
}

.email-subscribe-height {
  height: 60px;
}